#header-nav {
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    font-size: x-large;
    text-decoration: none;
}

.proto-label {
    color: #AAAAAA;
}

#map {
    width: 100%; height: 100%; padding: 0; margin: 0;
}

.YMaps-layer-container img{
    max-width: none;
}


